mixin doctorSm(image, name, title, year, adult, children)
    .doctor-sm
        .doctor-sm__image
            a(href="doctor-item.html")
                img(src="images/" + image alt= name)
        .doctor-sm__info
            .doctor-sm__info-content
                h5
                    a(href="doctor-item.html")= name
                .doctor-sm__info-descr
                    p= title
                    p= year
                .doctor-sm__tags
                    span.tag.tag--adult= adult
                    if children !== ""
                        span.tag.tag--children= children
            a(class="button button--light js-modal" href="#appointmentModal") Записаться на приём
