extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "contacts.html";
	+menu(currentTitle)


block content
	.wrapper
		.contacts
			h1 Контакты

			.contacts__info
				p Клиника «My Doc» находится по адресу Ждановская ул., д. 45. Она расположена на первом этаже здания на берегу реки Ждановки. От станции метро «Спортивная» можно добраться до клиники на троллейбусе № 7, выходить нужно на остановке «Новоладожская улица». Оттуда до клиники можно дойти пешком за 10-12 минут, идя по Ждановской улице в сторону увеличения нумерации домов.

			.contacts__map
				.contacts__address
					h6 г. Санкт-Петербург<br>
						| ул. Ждановская д. 45
					p Часы работы:<br>
						span.lg 09:00 – 21:00
						| без выходных
					p Телефон для записи:
						a(href="tel:+78122222245").lg 8 (812) 222-22-45
						| многоканальный
				.map
					iframe(
						src="https://yandex.ru/map-widget/v1/?ll=30.265909%2C59.963379&z=17.28&scroll=false"
						width="100%"
						frameborder="0"
						allowfullscreen="true"
						scroll="false")

